@import "~bootstrap/scss/bootstrap";


.app-container {
  margin-top: 110px;
  min-height: 80vh;
  font-family: "DM Sans", sans-serif !important;
}
.btn {
  font-weight: bold;
  border: none !important;
  &:focus-visible {
    box-shadow: none !important;
  }
}

.btn-primary {
  background: #0f0b46 !important;
  color: #fff;
  border: none;
  font-weight: bold !important;
}
.btn-secondary {
  background: #e4e4ea !important;
  border: none;
  color: #57547E !important;
  font-weight: bold !important;
}
.cursor-pointer {
  cursor: pointer;
}
@for $i from 1 through 100 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
}

@for $i from 1 through 9999 {
  .height-#{$i} {
    height: #{$i}px !important;
  }
}

@for $i from 1 through 1000 {
  .font-weight-#{$i} {
    font-weight: #{$i} !important;
  }
}

@for $i from 1 through 1000 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
}

@for $i from 1 through 100 {
  .h-#{$i} {
    height: $i * 1% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .app-logo-container {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 70px;
  }
  .app-wallet-container {
    width: 100% !important;
  }
}