.menu-dropdown-icon {
  display: none;
  .dropdown-icon {
    font-size: 24px;
    color: #0f0b46;
  }
}

.menu-dropdown-icon {
  font-size: 24px;
  color: #0f0b46;
  ::after {
    display: none;
  } 
}

.dropdown-item {
  text-align: center;
}

.menu-link {
  color: #0f0b46 !important;
  text-decoration: none;
}

.account-info {
  border: 2px solid #0f0b46;
  padding: 3px 15px;
  border-radius: 20px;
}
.login-btn {
  border-radius: 20px;
  font-size: 14px;
}


@media screen and (max-width: 768px) {
  .menu-dropdown-icon {
    display: block !important;
  }
}