.footer-links {
  // margin-top: 30px;
  a {
    padding: 0 15px;
    text-decoration: none;
    color: #0f0b46;
    line-height: 20.83px;
    font-size: 16px;
  }
  .home-link,
  .staking-link {
    border-right: 2px solid #0f0b46;
  }
}
.site-name {
  font-family: "Fredoka", sans-serif;
  font-weight: 100;
  color: #0f0b46;
}
.subtitle {
  color: #0f0b46;
}
.highlight-text {
  color: #c988a0;
}
.text-description {
  margin-left: -10px;
}
.telegram-icon {
  margin-right: 10px;
}
.authorship {
  border-top: 1px solid #ccc;
  padding: 20px 0px;
  font-size: 16px;
  line-height: 19.2px;
}
.social-links {
  text-align: right;
}
.md-footer {
  .footer-site-name {
    width: 250px;
    height: 65px;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .footer-social,
  .menu-links {
    width: 50%;
    text-align: center;
  }
}
.footer-social {
  img {
    margin: 0px 10px;
  }
}
.footer-site-name {
  height: 65px;
  margin-top: 45px;
  margin-bottom: 30px;
  img {
    height: 85px;
    margin-left: 70px;
  }
}
.sm-footer {
  .footer-links {
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .site-name {
    font-size: 40px !important;
  }
  .menu-links,
  .authorship,
  .subtitle,
  .highlight-text {
    font-size: 19.2px !important;
  }
}
@media screen and (max-width: 768px) {
  .md-footer {
    display: none !important;
  }
  .footer-social {
    img {
      margin: 0px 10px;
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 575.98px) {
  .sm-hide {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .sm-footer {
    display: none !important;
  }
}
