.header-container {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 2;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  .header-wrapper {
    .header-name {
      img {
        height: 45px;
      }
    }
    .dropdown-menu {
      display: none;
    }
    .menu-link,
    .menu-dropdown-icon {
      display: flex;
      align-items: center;
      a {
        color: #0f0b46;
        text-decoration: none;
        padding: 0 15px;
        display: flex;
        align-items: center;
      }
      .active {
        color: #4087dd !important;
        &::before {
          content: "•";
          margin-right: 15px;
          transform: scale(2);
          margin-bottom: 5px;
        }
      }
    }
    .links-and-wallets {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 534px;
      justify-content: space-evenly;
      .wallet-address {
        min-width: 200px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        padding: 0 10px;
        border: 1px solid #57547E;
        .token-address {
          display: flex;
          align-items: center;
          margin-left: 10px;
          img {
            height: 15px;
            width: 15px;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .account-info {
    border: 1px solid #0f0b46;
    padding: 3px 15px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    span {
      padding: 0 10px;
    }
  }
  .login-btn {
    border-radius: 20px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .links-and-wallets {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-container {
    .header-wrapper {
      .menu-link,
      .menu-dropdown-icon {
        a {
          padding: 0 10px;
        }
      }
    }
  }
}
