.stake-form-container {
  .label {
    padding: 0;
    font-size: 16px;
    line-height: 20.83px;
    // margin-bottom: 5px;
    height: 33px;
  }
  .available-to-stake-input {
    background: #ededf6;
    padding: 5px 9px;
    margin-bottom: 20px;
    height: 56px;
    .wallet-info {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
      img {
        margin-top: -5px;
        width: 23px;
        height: 23px;
      }
    }
  }
  .amount-to-stake-input,
  .estimated-reward-input {
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
    padding: 5px 9px;
    margin-bottom: 20px;
    height: 56px;
    .max-stake-btn {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
    }
    img {
      height: 32px;
      width: 32px;
      margin-left: 10px;
      margin-right: 5px;
    }
  }
  .description {
    font-style: italic;
  }
  .stake-btn,
  .login-btn {
    margin-bottom: 15px;
    border-radius: 50px;
    font-size: 16px;
    padding: 16px 24px;
    height: 56px;
  }
  .wallet-icon {
    height: 50px;
    margin: -15px 0 0;
  }

  .stake-input {
    .prefix-sign {
      border-radius: 0;
      border: 1px solid #e4e4e4;
      border-right: none;
      height: 56px;
      background-color: #FFF;
      margin-bottom: 20px;
      padding-right: 0;
    }
    input {
      border: none;
      height: 56px;
      border-radius: 0;
      margin-bottom: 20px;
      border: 1px solid #e4e4e4;
      border-left: none;
      border-right: none;
      padding-left: 3px;
    }
    input:focus {
      box-shadow: none !important;
    }
    .combo-input-btn {
      border: 1px solid #e4e4e4;
      height: 56px;
      margin-bottom: 20px;
      background-color: #FFF;
      padding-right: 8px;
      .max-stake-btn {
        background: #e4e4e4;
        padding: 5px 15px;
        border-radius: 25px;
        margin: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .stake-btn,
  .login-btn {
    width: 100%;
  }
}
