.stake-form-container {
  .label {
    padding: 0;
  }
  .available-to-stake-input {
    background: #ededf6;
    padding: 5px 10px;
    margin: 5px 0px;
    margin-bottom: 20px;
    .wallet-info {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
      img {
        margin-top: -5px;
      }
    }
  }
  .amount-to-stake-input,
  .estimated-reward-input {
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
    padding: 5px 15px;
    margin: 5px 0px;
    margin-bottom: 20px;
    .max-stake-btn {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
    }
    img {
      height: 25px;
      margin-left: 10px;
      margin-right: 5px;
    }
  }
  .description {
    font-style: italic;
  }
  .stake-btn,
  .login-btn {
    margin-bottom: 15px;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 20px;
  }
  .wallet-icon {
    height: 50px;
    margin: -15px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .stake-btn,
  .login-btn {
    width: 100%;
  }
}
