.withdraw-form-container {
  .label {
    padding: 0;
    font-size: 16px;
    line-height: 20.83px;
    height: 33px;
  }
  .withdraw-combo-btn {
    padding: 0;
    background: #e4e4ea;
    width: fit-content;
    border-radius: 50px;
    button {
      border-radius: 50px;
      padding: 12px 24px;
      border: none;
      width: 100px;
      font-size: 14px;
    }
  }
  .available-funds {
    background: #ededf6;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: 56px;
    .wallet-info {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
      img {
        margin-top: -5px;
      }
    }
  }
  .count-request {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    span {
      font-size: 12px;
      color: #57547E;
      padding-right: 18px; 
      line-height: 16px;
    }
    .pending-icon {
      margin-left: 20px;
    }
    .count-number {
      padding-right: 5px;
      font-size: 18px !important;
      padding-left: 5px;
    }
  }
  .amount-to-withdraw {
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
    padding: 5px 9px;
    height: 56px;
    .max-stake-btn {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
    }
    img {
      height: 32px;
      width: 32px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .withdraw-btn {
    margin-bottom: 15px;
    border-radius: 50px;
    font-size: 16px;
    padding: 16px 24px;
    height: 56px;
  }
  .description {
    font-style: italic;
  }
  .withdraw-input {
    .prefix-sign {
      border-radius: 0;
      border: 1px solid #e4e4e4;
      border-right: none;
      height: 56px;
      background-color: #FFF;
      margin-bottom: 20px;
      padding-right: 0;
    }
    input {
      border: none;
      height: 56px;
      border-radius: 0;
      margin-bottom: 20px;
      border: 1px solid #e4e4e4;
      border-right: none;
      padding-left: 9px;
    }
    input:focus {
      box-shadow: none !important;
    }
    .combo-input-btn {
      border: 1px solid #e4e4e4;
      height: 56px;
      margin-bottom: 20px;
      background-color: #FFF;
      padding-right: 8px;
      .max-stake-btn {
        background: #e4e4e4;
        padding: 5px 15px;
        border-radius: 25px;
        margin: 0 10px;
      }
      img {
        margin-right: 10px;
      }
    }
  }
  .estimated-reward-input {
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
    padding: 5px 9px;
    margin-bottom: 20px;
    height: 56px;
    .max-stake-btn {
      background: #e4e4e4;
      padding: 5px 15px;
      border-radius: 20px;
    }
    img {
      height: 32px;
      width: 32px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .withdraw-btn {
    width: 100%;
  }
}
